# /target
/target/classes
/target/generated-sources
/target/generated-test-sources
/target/osgi
/target/test-classes
/target/formatter-maven-cache.properties
/target/jacoco.exec

/.settings
/.classpath
/.project
/.idea
*.iml
/build
.mvn/wrapper/maven-wrapper.jar
